@import './variables.scss';

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: $spacing-s;
	padding: $spacing-s;

	@media screen and (min-width: $breakpoint-md) {
		flex-direction: row;
		align-items: center;
	}
}

.btns {
	display: flex;
	gap: $spacing-s;
	margin-top: $spacing-s;

	@media screen and (min-width: $breakpoint-md) {
		margin-top: 0;
	}
}
