:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* Font sizes */
	--fs-base: 18px;
	--fs-medium: 24px;
	--fs-large: 32px;
	--fs-xl: 48px;

	/* Colors */
	--color-black: #342e37;
	--color-black-lighter: rgba(36, 8, 49, 0.1);
	--color-white: #fafffd;
	--color-green: #9ee493;
	--color-green-lighter: rgb(158, 228, 147, 0.1);

	/* Spacing */
	--spacing-xxs: 4px;
	--spacing-xs: 8px;
	--spacing-s: 16px;
	--spacing-m: 24px;
	--spacing-l: 32px;
	--spacing-xl: 48px;
	--spacing-xxl: 64px;

	/* Breakpoints */
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-2xl: 1400px;
	--breakpoint-3l: 1600px;
}

body {
	background: var(--color-white);
}

* {
	font-size: var(--fs-base);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
